.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}



.correct-answers {
    color: #293264;
    font-weight: 700;
}

.bottom-part {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.bottom-part>button {
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-size: 1rem;
}