.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('./assets/blob-blue.png'), url('./assets/blob-yellow.png');
    background-repeat: no-repeat;
    background-position: bottom left, top right;
    background-size: 15%, 15%;
}

.page>main {
    flex: 0.9;
}

.page.big-background {
    background-size: 20%, 20%;
}