body {
    margin: 0;
    font-family: "Karla", sans-serif;
    color: #293264;
}

button {
    font-family: "Karla", sans-serif;
    cursor: pointer;
}

#root {
    height: 100%;
}

.primary-button {
    background-color: #4D5B9E;
    border-radius: 15px;
    border-style: none;
    color: #F5F7FB;
}