body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: "Karla", sans-serif;
    color: #293264;
}

button {
    font-family: "Karla", sans-serif;
    cursor: pointer;
}

#root {
    height: 100%;
}